{% extends 'homePage.html.twig' %}

{% block content %}

    <div class="page-title">
        <div class="text-center">
            <h3>Event <small>Modification</small></h3>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="x_panel">
                <div class="x_content">
                    {{ form_start(edit_form, {attr: {'class': 'form-horizontal form-label-left', 'novalidate': 'novalidate'}}) }}

                    <div class="form-group">
                        {{ form_label(edit_form.name, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(edit_form.name, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'placeholder': 'example: run'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(edit_form.place, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(edit_form.place, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'placeholder': 'example: Lyon\'s street'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(edit_form.category, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(edit_form.category, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'placeholder': 'example: sport'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(edit_form.totalCapacity, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(edit_form.totalCapacity, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'placeholder': 'example: sport'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(edit_form.date, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(edit_form.date, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'placeholder': 'example: sport'}}) }}
                        </div>
                    </div>

                    {{ form_widget(edit_form) }}

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <a href="{{ path('homePage') }}" class="btn btn-primary pull-left" >Retour à la liste</a>
                            <input type="submit" value="Modifier" class="btn btn-success" />
                        </div>
                    </div>

                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
