{% extends 'homePage.html.twig' %}

{% block content %}
    <div class="text-center" id="create_event">
        {% if is_granted("IS_AUTHENTICATED_FULLY") and not is_granted("ROLE_ADMIN") %}
            <a class="btn btn-success" href="{{ path('user_event_new') }}">Create new event</a>
        {% endif %}
    </div>
    <div class="row event-card">
        {% for event in events %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-block text-center">
                            <p><strong>Event:</strong> {{ event.name }}</p>
                            <p><strong>Place:</strong> {{ event.place }}</p>
                            <p><strong>Category:</strong> {{ event.category }}</p>
                            <p><strong>Capacity:</strong> {{ event.capacity }}</p>
                            <p><strong>Organiser:</strong> {{ event.users }}</p>
                            <p><strong>Date:</strong> {{ event.date|date('d/m/Y H:i:s') }}</p>
                            <input type="hidden" value="{{ event.id }}">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                {% if not is_granted('ROLE_ADMIN') %}
                                    <input type="submit" value="+" class="glyphicon-plus-sign btn btn-success" />
                                {% endif %}
                            {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

