{% extends 'homePage.html.twig' %}

{% block content %}

    <div class="row event-card">
        {% for event in events %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-block text-center">
                        {#<form action="{{ path('user_event_add') }}">#}
                            <p><strong>Event:</strong> {{ event.name }}</p>
                            <p><strong>Place:</strong> {{ event.place }}</p>
                            <p><strong>Category:</strong> {{ event.category }}</p>
                            <p><strong>Capacity:</strong> {{ event.capacity }}</p>
                            <p><strong>Organiser:</strong> {{ event.users }}</p>
                            <p><strong>Date:</strong> {{ event.date|date('d/m/Y H:i:s') }}</p>
                            <input type="hidden" value="{{ event.id }}">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                {% if not is_granted('ROLE_ADMIN') %}
                                    <button class="event-add btn btn-success" type="button" data-path="{{ path('event_crud', {'id': event.id}) }}">+</button>
                                {% endif %}
                            {% endif %}
                        {#</form>#}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="text-center">
    {% if is_granted("IS_AUTHENTICATED_FULLY") and not is_granted("ROLE_ADMIN") %}
        <a class="btn btn-success" href="{{ path('user_event_new') }}">Create new event</a>
    {% endif %}
    </div>
    <script type="application/javascript" src="{{ asset('front/js/meetApp.js') }}"></script>
        <script>
            $(function () {
                console.log('hahaha');
                meetApp.manageEvent.init();
                console.log(meetApp);
            })
        </script>
{% endblock %}

