{% extends 'homePage.html.twig' %}

{% block content %}
    <div class="text-center" id="create_event">
        {% if not is_granted("ROLE_ADMIN") %}
            <a class="btn btn-success" href="{{ path('user_event_new') }}">Create new event</a>
        {% endif %}
    </div>

    <div class="row event-card">
        {% for event in events %}
            {% if event.date|date('d/M/y') >= date().date|date('d/M/y') %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-block text-center">
                        <p><strong>Event:</strong> {{ event.name }}</p>
                        <p><strong>Place:</strong> {{ event.place }}</p>
                        <p><strong>Category:</strong> {{ event.category }}</p>
                        <p><strong>Total capacity:</strong> {{ event.totalCapacity }}</p>
                        <p><strong>Remaining places:</strong> {{ event.totalCapacity - event.participants|length}} </p>
                        <p><strong>Organiser:</strong> {{ event.creators }}</p>
                        <p><strong>Date:</strong> {{ event.date|date('d/m/Y H:i:s') }}</p>
                        <input type="hidden" value="{{ event.id }}">
                        {% if event.creators != app.user and not is_granted('ROLE_ADMIN')
                            and (event.totalCapacity - event.participants|length) > 0
                            and event.isRegistered(app.user) == false %}
                            <a href="{{ path('user_event_add', { 'id': event.id }) }}" class="glyphicon glyphicon-plus btn btn-success"></a>
                        {% elseif (event.totalCapacity - event.participants|length) == 0 %}
                            <a href="{{ path('user_event_add', { 'id': event.id }) }}" class="glyphicon glyphicon-plus btn btn-danger full"></a>
                        {% elseif  event.isRegistered(app.user) == true %}
                            <p class="col-md-12 col-xs-12 btn btn-info">Vous participez à cet événement</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <script src="{{ asset('front/js/meetApp.js') }}"></script>
{% endblock %}

