{% extends 'homePage.html.twig' %}

{% block content %}
    <div class="page-title">
        <div class="text-center">
            <h3>New Event</h3>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="container-fluid">
        <div class="">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        {{ form_start(form, {attr: {'class': 'form-horizontal'}}) }}

                        <div class="form-group">
                            {{ form_label(form.name, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'placeholder': 'example: Run'}}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.place, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(form.place, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'placeholder': 'example: Parc de la tête d\'or'}}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.category, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(form.category, {'attr': {'class': 'form-control col-md-7 col-xs-12'}}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.capacity, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(form.capacity, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'placeholder' : 'Number of participant'}}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.date, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                {{ form_widget(form.date, {'attr': {'class': 'form-control col-md-7 col-xs-12', 'placeholder': 'example: Cultural'}}) }}
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <a href="{{ path('user_event_index') }}" class="btn btn-primary pull-left" >Retour à la liste</a>
                                <input type="submit" value="Créer" class="btn btn-success" />
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
